---
import { SEO } from 'astro-seo';
export interface Props {
	title: string;
	image: string;
}

const { title, image } = Astro.props;

console.log(image)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO {...{
			openGraph: {
				basic: {
					title: "Lorem Lorem",
					url: "Lorem",
					image,
					type: "Lorem"
				},
				image: {
					alt: "lorem"
				}
			}
		}}></SEO>
	</head>
	<body>
		<slot />
		<img src={image} alt="">
	</body>
</html>
